<footer id="footer">
    <div class="top-box">
        <halo:footer />
    </div>
    <div class="bottom-box">
        <div th:if="${not #strings.isEmpty(theme.config.beian.icp_text)}">
            <a href="https://beian.miit.gov.cn/" th:href="${theme.config.beian.icp_link}" th:text="${theme.config.beian.icp_text}" rel="external nofollow" target="_blank"></a>
        </div>
        Powered by <a href="https://halo.run" target="_blank">Halo</a> & Theme <a href="https://ado.zone" target="_blank">Zero</a>
    </div>
</footer>